// 基本
$black = #222
$dark-gray = #555
$link-color = #f20c3b
$border-color = #dfdfdf
$border-color-dark = #ccc
$light-bg-color = #f5f5f5
$light-bg-color-2 = #eee
$blue = #2468f2
$text-max-width = 780px
$components-max-width = 960px
// 基础组件配置
$button-height = 38px
// 常用样式配置
$header-height = 40px
$header-tip-height = 40px
$left-nav = 240px
$right-fix-width = 48px
// 文字
$normal-text = (14/16)rem
// 动画
$ani = .3s all ease-in-out
// 阴影
$shadow = 0 5px 10px rgba(0,0,0,.05), 0 2px 5px rgba(0,0,0,.05)
$outline = 0 0 0 2px var(--color-bg-light-2)
// 圆角
$radius = 4px