// 基本
$black = #222
$dark-gray = #555
$link-color = #f20c3b
$border-color = #dfdfdf
$border-color-dark = #ccc
$light-bg-color = #f5f5f5
$light-bg-color-2 = #eee
$blue = #2468f2
// 常用样式配置
$header-height = 40px
$header-tip-height = 40px
$left-nav = 240px
// 文字
$normal-text = (14/16)rem