.ys-content-full-page
  width 100%
  overflow hidden
  position absolute
  top $header-height
  bottom 0
  background-color var(--color-bg-light-2)
.ys-left-nav
  width $left-nav
  height 100%
  background-color var(--color-bg-light)