.ys-content-full-page
  width 100%
  position absolute
  bottom 0
  overflow hidden
  top $header-height
  background-color var(--color-bg-light)

.ys-flex-3-1
  display flex
  flex-wrap nowrap
  margin 0.5rem -1.5rem
  .ys-card
    width 33%
    height 5rem
    box-shadow $shadow
    margin 1.5rem
    padding 1rem
    border-radius $radius
    background-color var(--color-base)