h1, h2, h3, h4, h5, p, a, span, div , li
  font-family: Avenir, "PingFang SC", "SF Pro SC","SF Pro Text","Helvetica Neue",  Helvetica,  Roboto, 'Arial','microsoft yahei ui',"Microsoft YaHei",SimSun, sans-serif;
  -moz-osx-font-smoothing: grayscale;  
  -webkit-font-smoothing: antialiased; 
  font-weight normal
  line-height 1.8
  margin 0
  color var(--color-base)
a
  text-decoration none
  font-size $normal-text
h1, h2, h3, h4, h5, h6, p
  max-width $text-max-width
h1
  font-size 3rem
h2
  font-size 2.4rem
h3
  font-size 1.5rem
.article
  h1, h2, h3, h4, h5, h6, p
    margin .5rem 0
  p, li
    opacity .8
    font-size .85rem
  h1, h2, h3
    font-weight 500
    margin 3rem 0 1rem
  h4, h5, h6
    font-weight 500
    margin 2.5rem 0 1rem
  ul, ol
    margin 1rem 0
    padding-left 1.5rem
    li
      margin .5rem 0