// 基本
$black = #222
$dark-gray = #555
$link-color = #f20c3b
$border-color = #dfdfdf
$border-color-dark = #ccc
$light-bg-color = #f5f5f5
$light-bg-color-2 = #eee
$blue = #2468f2

body
  $gray = #888
body
  background-color $gray 